<html>
<head><title>{% block title %}{% endblock %}</title></head>

<body>
{% block usermenu %}
<h2>ناحیه کاربری</h2>
{% if user.is_authenticated %}
<p>خوش آمدید {{ user }}</p>
<p><a href='{% url 'admin:logout' %}'>خروج</a></p>
{% else %}
<p>شما وارد نشده اید. برای ورود <a href='{% url 'admin:index' %}'>اینجا کلیک کنید.</a></p>
{% endif %}
{% endblock %}

{% block messageview %}
{% if messages %}
<h4>پیام</h4>
<ul style='list-style-type:none'>
{% for message in messages %}
<li>{{ message }}</li>
{% endfor %}
</ul>
{% endif %}
{% endblock %}

{% block contents %}{% endblock %}

<scripts>
{% block scripts %}{% endblock %}
</scripts>
</body>
</html>