{% extends 'base.html' %}

{% block title %}{{ deck.title }}{% endblock %}

{% block contents %}
<h1>{{ deck.title }}</h1>
<table>
<tr><th>سوال</th><th>جواب</th><th>توضیح</th></tr>
{% if cards %}
{% for c in cards %}
<tr><td>{{ c.question }}</td><td>{{ c.answer }}</td><td>{{ c.description }}</td></tr>
{% endfor %}
{% else %}
<tr>این مجموعه حاوی هیچ کارتی نیست.</tr>
{% endif %}
</table>
{% if not registered %}
<button onclick='GoToAdd()'>اضافه کردن این مجموعه</button>
{% else %}
<button onclick='GoToQuit()'>خروج از این مجموعه</button>
{% endif %}
{% endblock %}

{% block scripts %}
function GoToAdd() {
location.href = '{% url 'pickdeck' deck.id %}';
}
function GoToQuit() {
location.href = '{% url 'quitdeck' deck.id %}';
}
{% endblock %}